click==8.1.8
colorama==0.4.6
dolphin-memory-engine==1.3.0
keyboard==0.13.5
markdown-it-py==3.0.0
mdurl==0.1.2
mii-cli==0.2.0
mii-lib==0.2.0
PyGetWindow==0.0.9
pygments==2.19.2
PyRect==0.2.0
rich==14.2.0
shellingham==1.5.4
Tcl==0.2
tk==0.1.0
typer==0.20.0
typing-extensions==4.15.0
vgamepad==0.1.0
